.space {
    margin-right: 15%
}
.left-spacing{
    margin-left: 15%;
}
.loginBtn{
    margin-right: 45px;
}


.landing-app{
    margin-top: 50px;
}
.ui.modal>.close {
    top: 1.0535rem;
    right: 1rem;
    color: rgba(0,0,0,.87);
}
.name-wd2 {
    width: 150px;
    margin-top: 10px;
}
.reportCol {
    width: 400px;
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
    font-family:'Arial';
    font-style:'Bolder';

}
.MuiDialog-paperWidthSm {
    overflow: visible;
    overflow-y: visible;
}
.MuiDialog-paper {
    overflow-y: visible;
}
/* .reportModal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */