.configInput {
    width : 235px;
    display: flex;
    margin-top: 10px;
    
}

.configLevel {
    /* width: 169px; */
    margin-top: 10px;
    margin-left: auto;
}
.myinputDiv {
    width: 100px;
    margin-right: auto;
    margin-left: 10px;
}